body {
    background-color: #141218 !important;
    margin: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    color: white;
}

h1 {
    margin: 0;
    color: white;
    text-align: center;
    font-size: 20px !important;
    padding: 50px;
    text-wrap: pretty;
    font-weight: bold;
}

p {
    text-align: center;
    font-size: 14px;
    padding: 50px;
    text-wrap: pretty;
}

div {
    background-color: #2b292f;
}

/* Basic CSS styling for the sidebar */
aside {
    background-color: #2b292f;
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

button {
    border-radius: 5rem;
    background-color: #ccb6ff;
    border: none;
    width: 135px;
    height: 45px;
}

button:hover {
    /* Circular */
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    /* Cursor that indicates a link */
    cursor: pointer;
}

button .TA-Project {
    border-radius: 100px;
    size: 25px;
}

.coming-soon {
    color: #808080;
    text-align: center;
    text-transform: uppercase;
}

link {
    color: #4169e1;
}

li {
    background-color: #1f2024;
    width: 135px;
    height: 45px;
}