:root {
    --md-ref-typeface-brand: 'Open Sans';
    --md-ref-typeface-plain: 'Open Sans';
    --md-sys-color-primary: #f7f2fa;
    --md-sys-color-secondary: #65558f;
    --md-sys-color-container: #21005d;
    --md-linear-progress-track-height: 8px;
    --md-linear-progress-track-shape: 8px;
    --md-linear-progress-active-indicator-height: 8px;
    --md-sys-color-primary: #21005d;
    --md-sys-color-surface-container-highest: #f7f2fa;
    --md-sys-scale-button-height: 45px;
    --md-sys-scale-button-width: 135px;
    --md-sys-color-background: #141218;
}

body {
    background-color: var(--md-sys-color-background);
    margin: 0;
    text-align: center;
    font-family: var(--md-ref-typeface-brand);
    font-weight: bold;
    color: var(--md-sys-color-primary);
}

h1 {
    margin: 0;
    text-align: center;
    font-size: 20px !important;
    padding: 50px;
    text-wrap: pretty;
    font-weight: bold;
}

p {
    text-align: center;
    font-size: 14px;
    padding: 50px;
    text-wrap: pretty;
}

div {
    background-color: #2b292f;
}

/* Basic CSS styling for the sidebar */
aside {
    background-color: #2b292f;
    width: 200px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

button {
    border-radius: 5rem;
    background-color: #ccb6ff;
    border: none;
    width: var(--md-sys-scale-button-width);
    height: var(--md-sys-scale-button-height);
    position: relative;
}

button:hover {
    /* Circular */
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    /* Cursor that indicates a link */
    cursor: pointer;
}

.TA-Project {
    border-radius: 100px;
    size: 5rem;
    text-align: center;
    width: var(--md-sys-scale-button-width);
    height: var(--md-sys-scale-button-height);
    background-color: #ccb6ff;
}

.coming-soon {
    color: #808080;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.github_link {
    text-decoration: none;
    font-weight: bold;
}

.nav-p {
    color: var(--md-sys-color-primary);
    font-weight: bold;
}

li {
    background-color: #1f2024;
    width: 135px;
    height: 45px;
}